header {
    padding: 6px;
    font-size: 45px;
    text-align: center;
    margin: 0 0 10px;
}

h1#logo {
    margin: 0px;
    background-color: #fd6671;
    display: inline-block;
    color: #000000;
}

h1 {
    margin: 0px;
    color: #b7b2b2;
}

h2#newm {
    margin: 0px;
}

h2 {
    margin: 0px;
    color: #b7b2b2;
}

h4#extras {
    color: #efefef;
}

h3#channelname {
    margin: 0px;
    margin-left: 20px;
}

h4#logo2 {
    margin: 0px;
    background-color: #848484;
    display: inline-block;
}

h5#content {
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    color: #eaeaea;
}

h5#filename {
    margin: 0px;
    color: #989898;
}
