img.embed {
    max-height: 20vw;
    max-width: 60vw;
}

img.banner {
    max-height: 20vw;
    max-width: 60vw;
}

img.pfp {
    padding: 2px;
    height: 40px;
    width: auto;
    display: table-cell;
    vertical-align: middle;
}

img#emoji {
    height: 64px;
    max-width: 64px;
}

video {
    height: 20vw;
}

/* For tiny screens */
@media only screen and
(max-width : 240px) {
	img.pfp {
	height: 20px;
}
}
