img.embed {
    max-height: 20vw;
    max-width: 60vw;
}

img.banner {
    max-height: 20vw;
    max-width: 60vw;
}

img.pfp {
    margin-bottom: -2px;
    height: 48px;
    max-width: 48px;
}

img#emoji {
    height: 64px;
    max-width: 64px;
}

video {
    height: 20vw;
}
