button, input, select, a#button {
	color: #e5e5e5;
	background: #313131;
	border: none;
}

a#button {
	background: #fd6671;
	display: inline-block;
	padding: 2.5px;
	margin: 5px 0;
	border: 0px solid;
	border-radius: 5px;
}

select {
	padding: 2.5px 0;
}

button#ok {
	background: #fd6671;
}

input#token {
	width: 60%;
}

button#token {
	width: 60%;
	background: #fd6671;
}

/* For small screens */
@media only screen and
(max-width : 340px) {
button#token, input#token {
	width: 100%;
}
}
