nav {
	color: #cdd6f4;
	font-size: 20px;
	padding: 6px;
	position: sticky;
	top: 3px;
	text-align: center;
}

span {
	color: #7f849c;
}

nav a {
	text-decoration: none;
}

 /* unvisited/visited link */
nav a:link, nav a:visited {
	color: #cdd6f4;
}

/* mouse over or selected link */
nav a:hover, nav a:active {
	filter: brightness(80%);
}

.current {
	font-weight: bold;
}

/* For small screens */
@media only screen and
(max-width : 480px) {
	nav {
		font-size: 17.5px;
	}
}
