body {
    margin: 0;
    font-family: Lexend Deca, sans-serif;
    color: #e5e5e5;
    background-color: #242424;
    padding: 10px;
    font-size: 12px;
    margin-bottom: 25px;
}

html {
	margin-top: 25px;
}

p {
	font-size: 15px;
}

span {
	font-size: 15px;
}

span.author {
	font-size: 18px;
	display: table;
	width: 100%;
	border-top: thin solid #848484;
    color: #eaeaea;
    align-items: center;
}

span.system {
    margin-left: 5px;
    color: purple;
    border-style: dotted;
}

span.maskedauthor {
	font-size: 18px;
	display: table;
	width: 100%;
	border-top: thin solid #848484;
    color: #ff6d6c;
    align-items: center;
}

	span.deleto, span.replyto, span.timeclas {
    font-size: 15px;
}

span.deleto {
    color: #bb5f66;
}

span.replyto {
    color: #6dae56;
}

span.timeclas {
    color: #dabebe;
}

label {
    color: #ffffff;
}

span#wsconnection {
}

span#reactcont {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -10px;
    border: 2px solid #660909;
    border-radius: 30%;
    background-color: #332c29;
}

span#reactcount {
    color: #989898;
}

#react {
    height: 24px;
    max-width: 24px;
}

span#emoji {
    color: #989898;
    border-style: dotted;
}

a {
    color: #fd6671;
}

#embedd {
    color: white;
    border: 10px solid #757575;
    margin: 0px;
}

div#messages {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: 5vw;
    background-color: #242424;
    width: 100%;
}

div#typing {
    color: #989898;
}

div#replyingto {
    color: #989898;
}

/* For small screens */
@media only screen and
(max-width : 340px) {
	span.deleto, span.replyto, span.timeclas {
    font-size: 15px;
}
}


/* For tiny screens */
@media only screen and
(max-width : 240px) {
	body {
	padding: 3px;
}
	span {
	font-size: inherit;
}
	span.deleto, span.replyto, span.timeclas {
    font-size: 10px;
}
	span.author, span.maskedauthor {
	font-size: 15px;
	}
}
