html {

}

body {
    font-family: Lexend Deca, sans-serif;
    color: #e5e5e5;
    background-color: #242424;
    text-align: left;
    padding: 10px;
    font-size: 18px;
    margin: 34px 0 56px;
    word-wrap: break-word;
}

/* For small screens */
@media only screen and
(max-width : 340px) {
	body {
	padding: 5px;
    font-size: 15px;
}
}

/* For tiny screens */
@media only screen and
(max-width : 240px) {
	body {
	padding: 3px;
	font-size: 12px;
	margin: 27px 0 38px;
}
}
