button, input, select {
	color: #e5e5e5;
	background: #313131;
	border: none;
	font-size: 20px;
}

button {
	margin-right: 4px;
}

button#ok {
	background: #fd6671;
	margin: 0;
}

button#server {
	position: fixed;
	top: 0;
	left: 0;
	border: 1px solid #2d2d2d;
	border-bottom-right-radius: 5px;
}

input#a {
	font-size: 14.5px;
	min-width: 40%;
}

input#token, button#token {
	width: 100%;
}

button#token {
	background: #fd6671;
}

button#gett {
	position: fixed;
	top: 0;
	right: 0;
	border: 1px solid #2d2d2d;
	border-bottom-left-radius: 5px;
}

div#allcontrols {
	position: fixed;
	bottom: 0px;
	background: #313131;
	width: 100%;
}

button#attach, button#send {
	margin: 0;
}

/* For tiny screens */
@media only screen and
(max-width : 240px) {
	button, input, select {
		font-size: 14px;
	}
	input#a {
	width: 70%;
	min-width: none;
}
}
