header {
    padding: 3px;
    font-size: 45px;
    text-align: center;
}

h1 {
    margin: 0px;
    color: #b7b2b2;
}

h2#newm {
    margin: 0px;
}

h2 {
    margin: 0px;
    color: #b7b2b2;
}

h4#extras {
    color: #efefef;
}

h3#channelname {
    margin: 0px;
    margin-left: 20px;
}

h4#logo2 {
    margin: 0px;
    background-color: #848484;
    display: inline-block;
}

h5#content {
	font-size: 15px;
	margin: 2px 0;
    color: #eaeaea;
    font-weight: normal;
}

h5#embedd {
	font-size: 15px;
	border: 1px solid;
	border-radius: 2px;
	padding: 2px;
	background: #363636;
}

h5#filename {
    margin: 0px;
    color: #989898;
}

/* For tiny screens */
@media only screen and
(max-width : 240px) {
	h5#content, h5#embedd {
	font-size: 12px;
}
}
