 /* unvisited link */
a:link {
  color: #cdd6f4;
}

/* visited link */
a:visited {
  color: #cdd6f4;
}

/* mouse over link */
a:hover {
  filter: brightness(80%);
}

/* selected link */
a:active {
  filter: brightness(80%);
} 
